
.countdown_timer{

 margin: 8rem auto;
}
.countdown_timer h2{

  font-size: 3.5rem;
  color:#716d79;
  font-weight: 300;
}


.home .chest_box img{
  animation-name: floating;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  padding: 2rem;
}

.home .chest_box {
  animation-name: moves;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  padding: 2rem;
}
.home .chest_box .square, .home .chest_box .circle {
  animation-name: rotate;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
 

}
@keyframes floating {
  0% { transform: translate(0,  0px); }
  50%  { transform: translate(0, 15px); }
  100%   { transform: translate(0, -0px); }   
}

@keyframes moves {
  0% { transform: translate(0px,  0); }
  50%  { transform: translate(-10px, 0); }
  100%   { transform: translate(-0px, 0); }   
}

@keyframes rotate {
  0% { transform: rotate(45deg); }
  50%  { transform:rotate(90deg); }
  100%   { transform: rotate(180deg); }   
}

/* --------------------------------------- */
.App div {


  /* background-color: yellow; */
  font-size: 3.7rem;
  font-weight: 300;
}
.App div p{
  font-size: 1.4rem;
  font-weight: 300;
  color: gray;
}
.App div svg path{
  stroke:none;
  color:gray
}
.App .time_wrapper .time {
  color:gray !important;
  font-size: 3rem !important;
}
.App .col-lg-3 {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.chart_container{
  /* background-color: yellow; */
  width: 70%;
  margin: auto;
}